WellPlate/Resources/Secrets.plist

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
.build/

# Xcode
build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
DerivedData/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
